{
	"presets": [
		"react",
		[
			"env", {
				"targets": {
					"node": "current",
					"browsers": [
						"last 3 Chrome versions"
					]
				}
			}
		]
	],
	"plugins": [
		"transform-runtime",
		'transform-class-properties',
		"transform-object-rest-spread"
	]
}
